<div class="row">

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="" alt="...">
      <div class="caption">
        <h3>Upcoming event</h3>
        <p>About upcoming event comes here</p>
        <div class="clearfix">
  <div class="pull-left"><strong>Date</strong></div>
          <a href="/quiz/18" class="btn btn-success pull-right" role="button">Proceed</a></div>
      </div>
    </div>
  </div>

</div>
